@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Lobster&family=Manrope:wght@500&family=Montserrat&family=Open+Sans&family=Permanent+Marker&family=Poppins:wght@500&family=Rubik+Glitch&family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-btn {
    @apply py-2 px-6 font-semibold rounded-md bg-rose-500 text-white border-none hover:bg-rose-400
}

.custom-font{
    font-family: 'Lobster', 'cursive';
}


.drawer-side a.active {
    color: white;
}

.drawer-side a.active {
    background-color: transparent;
}
.drawer-side a {
    font-size: 15px;
    font-weight: 700;
}